{% extends "base.html" %}
{% block title %} Ajouter une incident {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouveau incident
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_add_incidentAttribuer.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_add_incidentAttribuer.nom_incidentAttribuer_add_1.label }}<br>
						{{ form_add_incidentAttribuer.nom_incidentAttribuer_add_1(size=32) }}<br>
						{% for error in form_add_incidentAttribuer.nom_incidentAttribuer_add_1.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

				</div>
				{{ form_add_incidentAttribuer.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

