{% extends "base.html" %}
{% block title %} Editer une Personne {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer une personne
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update_personne.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update_personne.nom_personne_update_1.label }}<br>
						{{ form_update_personne.nom_personne_update_1(size=32) }}<br>
						{% for error in form_update_personne.nom_personne_update_1.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update_personne.prenom_personne_update_1.label }}<br>
						{{ form_update_personne.prenom_personne_update_1(size=32) }}<br>
						{% for error in form_update_personne.prenom_personne_update_1.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update_personne.date_naiss_personne_update_1.label }}<br>
						{{ form_update_personne.date_naiss_personne_update_1(size=1232) }}<br>
						{% for error in form_update_personne.date_naiss_personne_update_1.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update_personne.FK_mail_personne_update_1.label }}<br>
						{{ form_update_personne.FK_mail_personne_update_1(size=1232) }}<br>
						{% for error in form_update_personne.FK_mail_personne_update_1.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update_personne.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

