{% extends "base.html" %}
{% block title %} Afficher Categories {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Adresses à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            nom
                        </th>
                        <th class="align-middle">
							NPA
                        </th>
                        <th class="align-middle">
							ville
                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_adresse }}
						</td>
						<td class="align-middle">
							{{ row.nom_categorie }}
						</td>
						<td class="align-middle">
							{{ row.NPA_adresse }}
						</td>
						<td class="align-middle">
							{{ row.ville_adresse }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('adresses_ajouter_1') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('adresse_update_1', id_adresse_btn_edit_html=row.id_adresse) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('adresse_delete_1', id_adresse_btn_delete_html=row.id_adresse) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune adresse.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('adresses_ajouter_1') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

